.survey-results-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1vh;
}

.survey-results-title {
  padding-top: 13vh;
  margin-left: 30vh;
	color: #000000;
	font-family: "Nunito";
	font-weight: 600;
	font-size: 3vh;
	letter-spacing: -0.2px;
	text-align: left;
}

.survey-results-title-comment {
	opacity: 77%;
  margin-left: 30vh;
	color: #000000;
	font-family: "Nunito";
	font-weight: 400;
	font-size: 2vh;
	line-height: 1.3;
	text-align: left;
}

.survey-results-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  grid-template-rows: repeat(2, auto);
  grid-gap: 2vh; /* Space between grid items */
  margin-left: 30vh;
}

