.career-container {
    flex: 1;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.recommended-no-1 {
    flex: 1;
    background-color: #002147; /* 深蓝色 */
    color: #F6F7E9; /* 米色文字 */
    border-radius: 6px;
    padding: 5px;
    justify-content: right;
}

.recommended-career-1 {
    flex: 4;
    background-color: #002147; /* 深蓝色 */
    color: #F6F7E9; /* 米色文字 */
    border-radius: 6px;
    padding: 5px;
}

.recommended-no-2 {
    flex: 1;
    background-color: #89B0AE; /* 绿色 */
    color: #002147; /* 深蓝色文字 */
    border-radius: 6px;
    padding: 5px;
    justify-content: right;
}

.recommended-career-2 {
    flex: 4;
    background-color: #89B0AE; /* 绿色 */
    color: #002147; /* 深蓝色文字 */
    border-radius: 6px;
    padding: 5px;
}

.not-recommended-no-1 {
    flex: 1;
    background-color: #E71D1D; /* 红色 */
    color: #F6F7E9; /* 米色文字 */
    border-radius: 6px;
    padding: 5px;
    justify-content: right;
}

.not-recommended-career-1 {
    flex: 4;
    background-color: #E71D1D; /* 红色 */
    color: #F6F7E9; /* 米色文字 */
    border-radius: 6px;
    padding: 5px;
}

.not-recommended-no-2 {
    flex: 1;
    background-color: #F2CCC3; /* 浅粉色 */
    color: #002147; /* 深蓝色文字 */
    border-radius: 6px;
    padding: 5px;
    justify-content: right;
}

.not-recommended-career-2 {
    flex: 4;
    background-color: #F2CCC3; /* 浅粉色 */
    color: #002147; /* 深蓝色文字 */
    border-radius: 6px;
    padding: 5px;
}